body{
    background-color: blueviolet;   
    }
    h1{
      color:rgb(0, 255, 221); text-align: justify;
     }
     # banner {
      width: 100%;
    p {
      text-align: left;
      color:rgb(0, 255, 221); text-align: justify;
      
       } 
       #texto1 {
         font-size: 60px;(223,185,216);
         color: rgb

       }
       
      h2 {color:aqua; text-align: left;
        p{
            text-align: 45px; 
        }
#image1 {
    border: left 5px solid red;
    width: 200px
    height:200px;

 }
 #alura2 {
    border: double 5px red;
    width: 200px
    height:200px; 
    margin-left: 25%
 }
 #scratch1{

 }
 itens{
    blackground- color: black;
 }
 li: marker{
    :content:"ff04";
 }
